@import '../../variables.less';

.player {
  .player__wind {
    font-size: @font-size-header;
  }

  .player__score {
    font-size: @font-size-secondary;
  }

  .player__inline-wind {
    margin-right: 8px;
  }
}

.player--top {
  margin-top: 16px;
  margin-bottom: 4px;

  .player__wind-container {
    margin-top: 12px;
  }

  .player__score-container {
    margin-top: 12px;
  }
}

.player--bottom {
  margin-top: 4px;
  margin-bottom: 16px;

  .player__wind-container {
    margin-bottom: 12px;
  }

  .player__score-container {
    margin-bottom: 12px;
  }
}

.player--top,
.player--bottom {
  .player__name,
  .player__wind,
  .player__score {
    text-align: center;
  }
}

.player--left {
  margin-left: 16px;
  display: flex;
  align-items: center;

  .player__wind-container {
    margin-left: 12px;
  }

  .player__score-container {
    margin-left: 12px;
  }
}

.player--right {
  margin-right: 16px;
  display: flex;
  align-items: center;

  .player__score-container {
    margin-right: 12px;
  }

  .player__score {
    margin-right: 12px;
  }
}

.player--rotated {
  &.player--left,
  &.player--right {
    height: 100%;

    .player__name,
    .player__wind,
    .player__score {
      position: absolute;
      transform-origin: 0 0;
      text-align: center;
    }

    .player__name-container {
      height: 100%;
      width: 24px; //font height
      overflow: hidden;
      position: relative;
    }

    .player__name {
      height: 24px;
    }

    &.player--left .player__name {
      left: 24px;
      transform: rotate(90deg);
    }

    &.player--right .player__name {
      bottom: -24px;
      left: 0;
      transform: rotate(270deg);
    }

    .player__wind-container {
      height: 32px; //font width
      width: 45px; //font height
      overflow: hidden;
      position: relative;
    }

    .player__wind {
      height: 45px;
    }

    &.player--left .player__wind {
      left: 45px;
      transform: rotate(90deg);
    }

    &.player--right .player__wind {
      bottom: -45px;
      left: 0;
      transform: rotate(270deg);
    }

    .player__score-container {
      height: 100px; //max width for score
      width: 32px; //from height
      overflow: hidden;
      position: relative;
    }

    .player__score {
      width: 100px;
    }

    &.player--left .player__score {
      left: 32px;
      transform: rotate(90deg);
    }

    &.player--right .player__score {
      bottom: -32px;
      left: 0;
      transform: rotate(270deg);
    }
  }

  &.player--top {
    .player__wind,
    .player__name,
    .player__score {
      transform: rotate(180deg);
    }
  }
}

.player__name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}