@import '../../variables.less';

.player {
  .player__wind {
    font-size: @font-size-header;
  }

  .player__score {
    font-size: @font-size-primary;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      position: relative;
    }
  }

  .player__inline-wind {
    margin-right: 8px;
  }

  .player__penalty {
    margin-left: 8px;
    padding: 2px 4px;
    font-size: @font-size-small-1;
    background-color: @color-danger;
    color: @secondary-text-color;
  }
}

.player--top {
  margin-top: 16px;
  margin-bottom: 4px;

  .player__wind-container,
  .player__button-container,
  .player__riichi-button {
    margin-top: 12px;
  }

  .player__score-container {
    margin-top: 6px;
  }
}

.player--bottom {
  margin-top: 4px;
  margin-bottom: 16px;

  .player__wind-container,
  .player__button-container,
  .player__riichi-button {
    margin-bottom: 12px;
  }

  .player__score-container {
    margin-bottom: 6px;
  }
}

.player--top,
.player--bottom {
  .player__name,
  .player__wind,
  .player__score {
    text-align: center;
  }
}

.player--left {
  margin-left: 16px;
  display: flex;
  align-items: center;

  .player__wind-container,
  .player__button-container,
  .player__riichi-button {
    margin-left: 12px;
  }

  .player__score-container {
    margin-left: 6px;
  }
}

.player--right {
  margin-right: 16px;
  display: flex;
  align-items: center;

  .player__wind-container,
  .player__button-container,
  .player__riichi-button {
    margin-right: 12px;
  }

  .player__score-container {
    margin-right: 6px;
  }
}

.player--rotated {
  &.player--left,
  &.player--right {
    height: 100%;

    .player__name,
    .player__wind,
    .player__score {
      position: absolute;
      transform-origin: 0 0;
      text-align: center;
    }

    .player__name-container {
      height: 100%;
      width: 24px; //font height
      overflow: hidden;
      position: relative;
    }

    .player__name {
      height: 24px;
    }

    &.player--left .player__name {
      left: 24px;
      transform: rotate(90deg);
    }

    &.player--right .player__name {
      bottom: -24px;
      left: 0;
      transform: rotate(270deg);
    }

    .player__wind-container {
      height: 32px; //font width
      width: 45px; //font height
      overflow: hidden;
      position: relative;
    }

    .player__wind {
      height: 45px;
    }

    &.player--left .player__wind {
      left: 45px;
      transform: rotate(90deg);
    }

    &.player--right .player__wind {
      bottom: -45px;
      left: 0;
      transform: rotate(270deg);
    }

    .player__score-container {
      height: 300px; //max width for score
      width: 23px; //from height
      overflow: hidden;
      position: relative;
    }

    .player__score {
      width: 300px;
    }

    &.player--left .player__score {
      left: 23px;
      transform: rotate(90deg);
    }

    &.player--right .player__score {
      bottom: -23px;
      left: 0;
      transform: rotate(270deg);
    }
  }

  &.player--top {
    .player__wind,
    .player__name,
    .player__score {
      transform: rotate(180deg);
    }
  }
}

.player__name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.player__score--success {
  color: @color-success;
}

.player__score--danger {
  color: @color-danger;
}

.player__button-container {
  z-index: 1;

  &.player__button-container--horizontal {
    display: flex;
    justify-content: center;

    div:nth-child(2) {
      margin-left: 8px;
    }
  }

  &:not(.player__button-container--horizontal) {
    div:nth-child(2) {
      margin-top: 8px;
    }
  }
}

.player__riichi-button {
  display: flex;
  justify-content: center;

  &.player__riichi-button--rotated {
    width: 17px;
    height: 106px;
    position: relative;

    svg {
      position: absolute;
      z-index: 0;
      height: 106px;
      width: 106px;

      use {
        transform: rotate(90deg) translate(0px, -100%);
      }
    }
  }

  &:not(.player__riichi-button--rotated) {
    svg {
      width: 106px;
      height: 17px;
    }
  }

  &.player__riichi-button--empty {
    color: @color-secondary-4;
  }

  &:not(.player__riichi-button--empty) {
    --riichi-circle-color: @color-danger;
  }

  &:active {
    --riichi-fill-color: @color-secondary-6;
  }
}

.player__inline-riichi {
  width: 53px;
  height: 8.5px;
  margin-left: 8px;
  margin-top: 7px;
  position: absolute;

}