@import '../variables.less';

.top-panel {
  margin: 24px 16px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;

  &.top-panel--between {
    justify-content: space-between;
  }

  .top-panel__search {
    position: relative;
    flex: 1 1 auto;
    margin-left: 18px;
    height: 24px;

    input {
      width: calc(100% - 24px - 4px);
      font-size: @font-size-small-2;
      padding: 2px 24px 2px 4px;
      background-color: transparent;
      border: none;
      border-radius: 0;
      border-bottom: 2px solid @color-secondary-light-1;
      outline: none;

      &::placeholder {
        color: @color-secondary-light-1;
      }
    }

    svg {
      position: absolute;
      width: 12px;
      height: 12px;
      right: -4px;
      bottom: -4px;
      padding: 12px;
    }
  }
}

.bottom-panel {
  height: 48px;
  background-color: @color-secondary-light-1;

  .bottom-panel__inner {
    padding: 6px 34px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .bottom-panel__text {
    font-size: @font-size-secondary;
  }

  .svg-button {
    width: 28px;
    height: 28px;
  }
}

.player-dropdown {
  font-size: 24px;
  display: flex;
  justify-content: center;

  .player-dropdown__player {
    width: 276px;
    margin-bottom: 32px;
    margin-left: 12px;

    &:after {
      display: block;
      content: '';
      border-bottom: 2px solid @color-secondary-light-1;
      width: auto;
    }

    .player-dropdown__player-name {
      padding: 0 4px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .player-dropdown__placeholder {
      padding: 0 4px;
      color: @color-secondary-light-1;
    }
  }
}