@import '../variables.less';

.top-panel {
  margin: 24px 16px;
}

.bottom-panel {
  height: 48px;
  background-color: @color-secondary-light;

  .bottom-panel__inner {
    padding: 10px 34px;
  }

  .svg-button {
    width: 28px;
    height: 28px;
  }
}