@import '../variables.less';

.top-panel {
  margin: 24px 16px;
}

.bottom-panel {
  height: 48px;
  background-color: @color-secondary-light-1;

  .bottom-panel__inner {
    padding: 6px 34px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .bottom-panel__text {
    font-size: @font-size-secondary;
  }

  .svg-button {
    width: 28px;
    height: 28px;
  }
}