@font-size-primary: 18px;
@font-size-secondary: 24px;
@font-size-small-1: 14px;
@font-size-small-2: 16px;
@font-size-header: 32px;


@bg-color: var(--bg-color);
@primary-text-color: var(--primary-text-color);
@secondary-text-color: var(--secondary-text-color);
@color-primary: var(--color-primary);
@color-primary-active: var(--color-primary-active);
@color-primary-light: var(--color-primary-light);
@color-secondary: var(--color-secondary);
@color-secondary-light-1: var(--color-secondary-light-1);
@color-secondary-light-2: var(--color-secondary-light-2);
@color-secondary-light-3: var(--color-secondary-light-3);
@color-secondary-dark: var(--color-secondary-dark);
@color-success: var(--color-success);
@color-danger: var(--color-danger);
