@font-size-primary: 18px;
@font-size-secondary: 24px;
@font-size-small-1: 14px;
@font-size-small-2: 16px;
@font-size-header: 32px;


@bg-color: var(--bg-color);
@primary-text-color: var(--primary-text-color);
@secondary-text-color: var(--secondary-text-color);
@color-primary: var(--color-primary);
@color-primary-active: var(--color-primary-active);
@color-primary-light: var(--color-primary-light);
@color-primary-light-active: var(--color-primary-light-active);
@color-secondary-1: var(--color-secondary-1);
@color-secondary-2: var(--color-secondary-2);
@color-secondary-3: var(--color-secondary-3);
@color-secondary-4: var(--color-secondary-4);
@color-secondary-5: var(--color-secondary-5);
@color-success: var(--color-success);
@color-danger: var(--color-danger);
